h1 {
    color:          rgb(92, 97, 102);
    font-size:      1.5em;
    font-weight:    normal;
    line-height:    1;
    margin:         20px 5px;
}

#status {
    position: fixed;
    left: auto;
    bottom: 15px;
    background: rgba(0, 0, 0, .6);
    color: #aaffaa;
    width: 90%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    opacity: 0;
    transition-duration: 800ms;
    border-radius: 5px;
}

.inputs label {
    margin-right: 20px;
    margin-left: 6px;
    position: absolute;
}

.inputs label:hover {
    color: #336633;
    transition-duration: 400ms;
}
#options > div > div, #options > div > p {
    padding: 5px 20px 5px 15px;
}